html {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-boxs;
}


body {
  font-size: 0.9rem;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: .5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
  padding: .5rem;
  position: sticky;
  top: 0;
}
